.home {
    min-height: 100vh;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-content {
    margin-top: 3rem;
    text-align: center;
}