.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: rgb(221, 221, 221);
}

.nav-btn,
.nav-profile {
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.nav-btn:hover,
.nav-profile:hover {
    color:white;
}

.nav-title {
    font-size: 1.8rem;
    font-weight: bold;
}