.signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(11, 11, 11);
    color: white;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    background: #1c1c1c;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,255,150,0.1);
    width: 300px;
}

input{
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    background: #171616;
    color: white;
}

input:focus {
    outline: 2px solid rgb(11, 195, 121);
}

button {
    background:rgb(11, 195, 121);
    color: black;
    border: none;
    border-radius: 8px;
    padding: 0.75rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #195786;
}

.hint {
    margin-top: 1.5rem;
    color: rgb(136, 136, 136);
}

.hint span {
    color: rgb(11, 195, 121);
    cursor: pointer;
}
